@import "~src/assets/css/variables.scss";

// #TODO: mobile nav
ul {
  justify-content: flex-end;
  margin         : 0;

  li {
    display       : flex;
    flex-direction: column;
    margin-left   : 10px;

    @media (max-width: $tabletPortrait) {
      margin-left: 2px;
    }

    &:first-child {
      margin: 0;
    }

    &.active {
      .btn {
        border-color: rgba(220, 220, 255, 0.5);
      }
    }

    .btn {
      padding    : 13px 18px;
      font-size  : 12px;
      line-height: 12px;
      font-weight: 700;
      color      : white;
      border     : 1px solid transparent;
      white-space: nowrap;

      @media (max-width: $tabletPortrait) {
        padding: 8px 13px;
      }
    }
  }
}