<ul class="d-none d-md-flex">
  <li routerLinkActive="active">
    <a routerLink="" class="btn">
      <i-bs name="house-door"></i-bs>
      Home
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="flights" class="btn">
      <i-bs name="cursor"></i-bs>
      Flights
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="hotels" class="btn">
      <i-bs name="file-text"></i-bs>
      Hotels
    </a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="holidays" class="btn">
      <i-bs name="gift"></i-bs>
      Holidays
    </a>
  </li>
  <li>
    <a href="https://blog.absa.co.za/blog" class="btn" rel="external">
      <i-bs name="pencil"></i-bs>
      Blog
    </a>
  </li>
  <li>
    <a href="tel:18001052541" class="btn">
      <i-bs name="phone"></i-bs>
      1800 105 2541
    </a>
  </li>
</ul>