/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import "~src/assets/css/variables.scss";

body {
  background     : url('~src/assets/img/eiffel-tower.jpg') no-repeat center center fixed;
  background-size: cover;
}

.btn {
  border-radius: 0;

  &:focus {
    box-shadow: none;
  }
}

label {
  display      : block;
  margin-bottom: 30px;

  * {
    width: 100%;
  }

  span {
    display       : block;
    margin-bottom : 5px;
    color         : dimgrey;
    text-transform: uppercase;
    font-size     : 13px;
    font-weight   : 600;
  }
}

input {
  padding  : 6px 9px;
  border   : 2px solid lightgrey;
  font-size: 14px;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin            : 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
  }
}

.btn {
  padding       : 8px 18px;
  text-transform: uppercase;
  font-size     : 13px;
  font-weight   : 600;
  border-radius : 2px;

  &.btn-primary {
    background-color: $burgundy;
    border          : none;
    border-bottom   : 3px solid darken($burgundy, 10%);
  }
}

form {
  .alert {
    margin-top: -30px;
  }
}